/* App global imports */
@import "./component-styles/layout.css";
@import "./component-styles/header.css";
@import "./component-styles/hero-section.css";
@import "./component-styles/features-section.css";
@import "./component-styles/about-section.css";
@import "./component-styles/menu-section.css";
@import "./component-styles/reservation-section.css";
@import "./component-styles/chefs-section.css";
@import "./component-styles/testimonials-section.css";
@import "./component-styles/footer.css";
@import "./component-styles/contact-section.css";

/* Basic reset overrides */
#root { width:100%; max-width:none; margin:0; padding:0; text-align:initial; }
